/* CSS Document */
.jt_down{
	width:11px;
	height:6px;
	display:inline-block;
	vertical-align:middle;
	background:url(../images/icons/jt_down.png) no-repeat center;
	padding:0 5px;
}

.sj_down{
	
}
.sj_right{
	
}

