/* CSS Document */
.top{border:1px solid #ececec; margin-bottom:1px;	}
.top .center{height:30px;
	width:1200px;
	margin:0 auto;	
}
.center span.jt_down{ width:11px; height:6px; display: inline-block;vertical-align:middle;background:url(images/icons/jt_down.png) no-repeat center;vertical-align:middle;padding:0 5px; margin-right:15px; }
.top .center .ship{height:31px;
	width:125px;background-color:#FFF;
	line-height:31px;
	text-align:center;
	float:left;}
.center .top_bars{ float:right;}
.center .top_bars li{ float:left}
.top_bars li a{height:30px;
	line-height:30px;	
	padding:0 15px;}
.header1 { width:1200px; margin:0 auto; }
.header1_top{ overflow:hidden;}
.header1_top .logo{ width:102px; height:68px; background:url(images/logo.png) no-repeat center; float:left;margin:28px 108px 22px 0;	}
.header1_top .search{float:left;
	margin:30px 0 0 10px;	}
.search .search_box{border:1px solid #c5131e; overflow:hidden}
.search .search_box input{ float:left;width:418px;
	height:34px;
	border:none;	}
.search .search_box span{ float:left;width:84px;
	height:34px;
	background-color:#c5131e;
	line-height:34px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#FFF;}
.header1_top .search p{height:16px;
	line-height:16px;
	margin:10px 0;	}
.header1_top .search a{ padding:0 10px;} 
.header1_top .right{ float:right; overflow:hidden;margin-top:34px;}
.header1_top .right .myyy{ float:left; height:30px;line-height:30px;border:1px solid #efefef;
	padding-left:32px; padding-right:22px; background:#f7f7f7 url(images/icons/shopcar_03.png) no-repeat 9px 6px; ;}
.header1_top .right .tsc{ float:left; height:30px;line-height:30px;border:1px solid #efefef;
	padding-left:32px; padding-right:22px; margin-left:20px; background:#f7f7f7  url(images/icons/shopcar_06.png) no-repeat 6px 7px;}
.header1 .header1_bottom{ overflow: hidden; }
.header1_bottom .nav{ float:left; width:210px; height:36px; background-color:#c5000c; line-height:36px; text-align:left;padding-left:16px; font-size:14px;color:#FFF; font-weight:bold;}
.header1_bottom p{float:left; padding-left:25px; width:379px; height:36px; line-height:36px;}
.header1_bottom p a{ float:left; padding-right:32px; font-size:14px;color:#333333; font-weight:bold}

.cn5_top{ background-color:#F3F2F2;}
.cn5_top_x{ padding: 0 10px; height:40px; line-height:40px;}
.cn5_top_x a{ padding:0 12px;}
cn5_top_y{ overflow:hidden; }
.cn5topy_1{ float:left; width:372px; height:576px;margin-bottom:28px; border-bottom:1px solid #ccc}
.cn5topy_1 dl dd.s img{ width: 260px; height:340px; display:block; margin:30px 62px 32px 53px;}
.cn5topy_1 dl dd.z { margin-left:11px; overflow:hidden}
.cn5topy_1 dl dd.z li.aa img{ float:left; margin-right:11px; margin-top:18px;}
.cn5topy_1 dl dd.z li.bb{ float:left; margin-left:3px; margin-top:18px;}
.cn5topy_1 dl dd.z li.cc{ float:left;width:53px; height:53px; border:1px solid #ccc; margin-right:8px; }
.cn5topy_1 dl dd.z li.cc img{margin:6px 10px;}
.cn5topy_1 dl dd.x{ width:344px; height:36px; border-top:1px solid #ccc; overflow:hidden; margin-top:16px; line-height:36px; padding-left:15px;}
.cn5topy_1 dl dd.x li{ float:left;}
.cn5topy_1 dl dd.x li.dd{ margin-left:97px;}
.cn5topy_1 dl dd.x li.ee{ margin-left:3px;}
.cn5topy_2{ float:left; width:605px;height:576px; margin-bottom:28px; border-bottom:1px solid #ccc}
.cn5topy_2 h1{ font-size:16px; font-weight:bold; margin-left:20px; margin-top:22px; margin-bottom:17px;}
.cn5topy_2 .s{ overflow:hidden; height:133px; background-color:#FAF8F9;}
.cn5topy_2 .s .left{ float:left}
.cn5topy_2 .s .left li{ margin-left:20px; margin-top:30px;}
.cn5topy_2 .s .left li.yo{ margin-bottom:36px}
.cn5topy_2 .s .center{ float:left; color:#E2373A}
.cn5topy_2 .s .center li a{color:blue; font-size:12px; }
.cn5topy_2 .s .center li.jj{ font-size:18px; font-weight:bold; color:#E2373A; margin-top:25px; margin-bottom:23px}
.cn5topy_2 .s .center li span{ background-color:#E2373A; display: inline-block; padding:2px 5px; color:#fff; margin-top:10px; font-size:10px;}
.cn5topy_2 .s .center li img{ margin-left:4px; position:relative;bottom:-9px;}
.cn5topy_2 .s .right{ float:right; margin-top:14px; margin-right:14px; font-size:12px; color:blue}
.cn5topy_2 .s .right li{ margin-bottom:13px;}
.cn5topy_2 .s .right li.a{ width:88px; height:26px; background-color:#EEEEEE; line-height:26px; text-align:center;}
.cn5topy_2 .s .right li.a img{ margin-right:6px;}
.cn5topy_2 .s .right li a{ color:blue}
.cn5topy_2 .s .right li.b{ color:#999999;}
.cn5topy_2 .s .right1{ width:1px; height:55px; background-color:#ccc; float:right; margin-right:13px; margin-top:14px;}
.cn5topy_2 .z1{ height:60px; border-bottom:1px dashed #ccc; overflow:hidden}
.cn5topy_2 .z1 dd{ float:left; font-size:12px;}
.cn5topy_2 .z1 dd.z { float:left; margin-left:20px; margin-top:6px; margin-right:15px; }
.cn5topy_2 .z1 dd.z li.a{ margin-bottom:10px;}
.cn5topy_2 .z1 dd.y { margin-top:6px;} 
.cn5topy_2 .z1 dd.y span{ display: inline-block; width:130px; height:23px; border:1px solid #ccc; line-height:23px; text-align:center; color:#666666; margin-bottom:6px;}
.cn5topy_2 .z1 dd.y li img{ margin-right:3px; position:relative;bottom:-2px;}
.cn5topy_2 .z1 dd.y li a{ margin-right:11px;}
.cn5topy_2 .z{ margin-top:18px;}
.cn5topy_2 .z li span.a{ display:inline-block;width:80px; height:32px; border:1px solid #ccc; line-height:32px; margin-right:6px; margin-bottom:12px;}
.z li span.a img{ margin-left:10px; margin-right:6px; position:relative; bottom:-5px;}
.cn5topy_2 .z li span.b{ display:inline-block; width:50px; height:26px; border:1px solid red; line-height:26px; text-align:center;margin-bottom:12px;}
.cn5topy_2 .z li span.c{ display:inline-block; width:45px; height:26px; border:1px solid red; line-height:26px; text-align:center;margin-bottom:12px; margin-right:7px;}
.cn5topy_2 .z li span.d{ display:inline-block; width:50px; height:26px; border:1px solid red; line-height:26px; text-align:center;margin-bottom:12px;}
.cn5topy_2 .z li span.e{ display:inline-block; width:62px; height:26px; border:1px solid red; line-height:26px; text-align:center;margin-bottom:12px;}
.cn5topy_2 .z li span.f{ display:inline-block; width:120px; height:26px; border:1px solid #ccc; line-height:26px; text-align:center; font-size:12px; margin-right:7px}
.cn5topy_2 .z li span.f img{ margin-left:4px; margin-right:4px; position:relative;bottom:-2px;}
.cn5topy_2 .z li span.g{ display:inline-block; width:64px; height:36px; border:1px solid #ccc; line-height:40px; text-align:center;margin-top:10px; margin-right:12px}
.cn5topy_2 .z li span.g img{ float: right}
.cn5topy_2 .z li  a.q{display: inline-block; width:185px; height:40px; line-height:26px; text-align:center; background:#C5131E; line-height:40px; font-size:18px; color:#fff;}
.cn5topy_2 .z li  a.q img{ position:relative;left:-14px; bottom:-6px;}
.cn5topy_3{ float:left;width:223px; height:576px; margin-bottom:28px; border-bottom:1px solid #ccc }
.cn5topy_3 li.a{ width:199px; height:63px; border-bottom:1px solid #ccc; margin-left:10px;}
.cn5topy_3 li.a img{ margin-top:20px; margin-left:80px;}
.cn5topy_3 li.b { margin-top:24px; margin-left:28px;}
.cn5topy_3 li.c { margin-top:14px; margin-left:28px;}
.cn5topy_3 li.c img{ margin-right:5px; position:relative; bottom:-2px;}
.cn5topy_3 li.c img.d{ margin-left:18px;}
.clear100 .content6{ height:311px; border:1px solid #ccc;width:1200px; margin:0 auto; margin-top:616px;}
.clear100 .content6 h1{ height:36px; border-bottom:1px solid #ccc; }
.clear100 .content6 h1 a{ display:inline-block; width:94px; height:35px; border-right:1px solid #ccc; line-height:35px; text-align:center; font-size:12px;}
.clear100 .content6 h1 a.aa{height:36px; width:94px;background-color:#fff; border-top:2px solid red; color:red;border-right:1px solid #ccc; position: relative;top:-1px;}
.clear100 .content6 div{ overflow:hidden}
.clear100 .content6 div .left{ float:left}
.clear100 .content6 div .left img.aa{ margin:51px 23px 20px 44px;}
.clear100 .content6 .left img.bb{ margin:118px 11px 56px 0;}
.clear100 .content6 .left p{ font-size:12px; margin-left:20px;}
.clear100 .content6 div .center{ float:left; margin-top:10px; border-right:none}
.content6 .center ul li.q a{ padding:9px 8px 7px 9px; display:inline-block;border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;font-size:12px;}
.content6 .center ul li.ww{ width:820px; height:230px; border:1px solid #ccc; border-bottom:none;}
.content6 .center ul li.ww span.e{ display: inline-block; width:26px; height:68px; border:1px solid #ccc; float:left; margin-top:85px;border-left:none; }
.content6 .center ul li.ww span.e img{margin:25px 8px 22px 6px;}
.content6 .center ul li.ww span.r { display:inline-block; margin:34px 20px 53px 25px; float:left}
.center ul li.ww span.r dd{ font-size:12px; margin-bottom:6px;}
.center ul li.ww span.r dd.wz{ color:red}
.center ul li.ww img.jh{ margin-top:82px; float:left;  }
.content6 .center ul li.ww span.p{ display: inline-block; width:26px; height:68px; border:1px solid #ccc; float:right; margin-top:85px; background-color:#fff; border-right:none; position:relative; right:-2px;}
.content6 .center ul li.ww span.p img{margin:25px 8px 22px 6px;}
.content6 .right{ background-color:#F8F8F8; height:274px; width:187px; float:right; border-left:1px solid #ccc;}
.content6 .right ul{ margin-top:89px; margin-left:21px; font-size:12px;}
.content6 .right ul li.q1{ margin-bottom:18px;}
.content6 .right ul li.q2{ margin-top:8px;}
.content6 .right ul li a.q3{  display:inline-block; width:90px; height:28px; color:#fff; font-size:14px; background-color:#DF2020; line-height:28px; text-align:center; margin-top:13px; margin-right:10px;}
.content6 .right ul li a.qc{ color:blue; font-size:12px;}
.center22 { width:1200px; margin:0 auto; overflow:hidden; margin-top:14px;}
.center22 .content7_left{ width:211px;  float:left;margin-right:13px; }
.content7_left .a1{ width:208px; height:82px; border:1px solid #ccc;}
.content7_left .a1 h1{ border-bottom:1px solid #ccc; padding:10px 40px 7px 10px; font-size:12px; }
.content7_left .a1 img{ margin:14px 119px 20px 12px;}
.content7_left .a2{ width:208px; height:162px; border:1px solid #ccc; margin-top:10px;}
.content7_left .a2 h1{ border-bottom:1px solid #ccc; padding:10px 142px 0px 10px; font-size:12px; }
.content7_left .a2 div{ overflow:hidden}
.content7_left .a2 ul li{ margin-bottom:4px; font-size:12px;}
.content7_left .a2 ul.left{ float:left; margin:16px 67px 0px 10px;}
.content7_left .a2 ul.right{ float:left; margin-top:16px;}
.content7_left .a3{ width:208px; height:753px; border:1px solid #ccc; margin-top:10px;}
.content7_left .a3 h1{ border-bottom:1px solid #ccc; width:208px; height:29px; line-height:29px; text-align:center; font-size:14px; }
.content7_left .a3 div.t1{border-bottom:1px dotted #ccc; height:180px;}
.content7_left .a3 div.t1 img{ margin:18px 62px 15px 62px;}
.content7_left .a3 div.t1 p{ margin-left:18px; margin-right:20px; font-size:12px;}
.content7_left .a3 div.t1 a{ color:red; font-size:14px; margin-left:65px;}
.content7_left .a4{ height:415px; width:208px; border:1px solid #ccc; margin-top:10px;}
.content7_left .a4 h1{border-bottom:1px solid #ccc; font-size:14px; padding:7px 128px 7px 10px; }
.content7_left .a4 div{ border-bottom:1px solid #ccc; padding:8px 9px 0 14px;}
.content7_left .a4 div a{ display: inline-block;padding:5px 11px 4px 11px; border:1px solid #ccc; font-size:12px;}
.content7_left .a4 ul{ height:68px; border-bottom:1px dotted #ccc; overflow:hidden}
.content7_left .a4 ul img{ float:left; margin-top:9px; margin-left:2px;}
.content7_left .a4 ul a.right{ float:left; margin-top:8px;}
.content7_left .a4 ul li a.right p{ font-size:12px; color:#000; }
.content7_left .a4 ul li a.right{ color:red;margin-left:7px;}
.content7_left .a5{ height:389px; width:208px; border:1px solid #ccc; margin-top:10px;}
.content7_left .a5 h1{border-bottom:1px solid #ccc; font-size:14px; height:29px; line-height:29px; text-align:center}
.content7_left .a5 ul{ height:179px; border-bottom:1px  dotted #ccc;}
.content7_left .a5 img{ margin:10px 65px 4px 63px;}
.content7_left .a5 p{ margin-left:20px; font-size:12px;}
.content7_left .a5 a{ color:red; font-size:14px; margin-left:65px;}

.center22 .content7_right{ width:973px;  float:left;border:1px solid #ccc;}
.center22 .content7_right h1{ height:38px; border-bottom:1px solid #ccc;}
.center22 .content7_right h1 a.bq{ display:inline-block; width:90px;height:38px; line-height:38px; text-align:center; border-right:1px solid #ccc; font-size:14px;}
.center22 .content7_right h1 span{ display: inline-block;height:38px; width:390px; text-align: center; line-height:38px; font-size:12px; }
.center22 .content7_right h1 span img{ position: relative; top:10px;}
.content7_right h1 span a{ display:inline-block; width:80px; height:22px; line-height:22px; color:#fff; font-size:13px; background-color:#df0000; position:relative; left:80px;}
.content7_right .a1 { width:935px; height:190px; margin:0 auto; border:1px solid #ccc; margin-top:11px;}
.content7_right .a1 ul.top{ border:none; border-bottom:1px dotted #ccc; }
.content7_right .a1 ul.top{ overflow:hidden}
.content7_right .a1 ul.top li{ float:left; }
.content7_right .a1 ul.top li.aaa img{ float:left; margin-top:29px; margin-left:44px; margin-bottom:44px;}
.content7_right .a1 ul.top li a{ display:inline-block;float:left; margin-top:29px; margin-left:11px;}
.a1 ul.top li p{font-size:12px;}
.content7_right .a1 ul.top li.bbb img{float:left; margin-top:29px; margin-left:29px; margin-bottom:44px;}
.content7_right .a1 ul.top li.ccc img{float:left; margin-top:29px; margin-left:106px; margin-bottom:44px;}
.content7_right .a1 ul.bottom{ overflow:hidden}
.content7_right .a1 ul.bottom li.a{ margin-left:50px; margin-top:20px;float:left; font-size:12px;}
.content7_right .a1 ul.bottom li.b{ margin-left:40px; margin-top:20px;float:left; font-size:12px;}
.content7_right .a1 ul.bottom li.c a{ margin-right:30px; margin-top:55px;float:right; font-size:12px; color:blue}
.content7_right .a2{width:935px; margin:0 auto; border-left:1px solid #ccc; border-top:1px; solid #ccc; margin-top:15px;}
.content7_right .a3{ width:976px; height:410px;  border:1px solid #ccc; margin-top:12px;}
.content7_right .a3 h1{ border:none; color:#ef393c; font-size:16px; margin-top:24px; margin-left:30px;}
.content7_right .a3 p{ color:#ccc; font-size:12px; margin-left:60px; margin-right:27px; color:#666666;}
.content7_right .a4{ height:42px; line-height:42px; font-size:12px;}
.content7_right .a5{ height:122px; border:1px solid #ccc;}
.content7_right .a5 h1{ border:none; font-size:14px; color:red; margin-top:9px; height:15px;}
.content7_right .a5 dl{ overflow:hidden}
.content7_right .a5 dl dd.left{ overflow:hidden; float:left}
.content7_right .a5 dl dd.left li{float:left}
.a5 dl dd.left li.left{float:left; font-size:38px; margin-left:19px;margin-top:3px}
.a5 dl dd.left li.left a{ font-size:38px; color:red; }
.a5 dl dd.left li.left span{ font-size:18px; margin-left:3px;}
.a5 dl dd.left li.left p{ margin-left:10px; margin-top:5px;}
.a5 dl dd.left li.center { margin-left:14px; margin-top:12px; font-size:12px;}
.a5 dl dd.left li.center p{ margin-bottom:4px;}
.a5 dl dd.left li.right { margin-top:14px; margin-left:12px;}
.a5 dl dd.left li.right div{ width:136px; height:12px; background-color:#ccc; margin-bottom:12px; }
.a5 dl dd.sx{ width:1px; height:77px; background-color:#ccc; float:left; margin-top:2px; margin-left:9px;}
.a5 dl dd.center{ float:left; margin-left:20px;}
 dd.center h2{ font-size:12px; }
.a5 dl dd.center ul{ overflow:hidden}
.a5 dl dd.center ul li a{ display:inline-block; padding:4px 5px; background-color:#ffeacb; margin-right:4px; margin-bottom:4px; font-size:12px;}
.a5 dl dd.sx2{ width:1px; height:77px; background-color:#ccc; float:left; margin-top:2px; margin-left:38px; margin-right:11px;}
.a5 dl dd.right p{ font-size:12px;margin-top:14px;}
.a5 dl dd.right a{ font-size:12px; color:red;}
.a5 dl dd.right div.fb{ width:100px; height:24px; border:1px solid #FC0; line-height:24px; text-align:center; font-size:12px; float:left; margin-top:15px; margin-left:35px;}
.content7_right .a6{ width:975px;  margin-top:12px; border:1px solid #ccc;}
.content7_right .a6 h1{ border:none; height:30px; border-bottom:1px solid #ccc;}
.content7_right .a6 h1 a{ display:inline-block; padding:8px 15px 6px 15px; border-right:1px solid #ccc; font-size:12px;}
.content7_right .a6 h1.h2{ margin-top:12px; background-color:#f7f7f7; width:972px;}
.content7_right .a6 h1.h2 a{ border:none}
.content7_right .a6 h1.h2 a.aa{ margin-left:225px;}
.content7_right .a6 h1.h2 a.bb{ margin-left:210px;}
.content7_right .a6 h1.h2 a.cc{ margin-left:55px;}
.content7_right .a6 h1.h2 a.dd{ margin-left:110px;}
.content7_right .a6 ul.kk{ overflow:hidden; height:210px; border-bottom:1px solid #ccc; color:#666666}
.content7_right .a6 ul.kk li{ float:left}
.a6 ul.kk li p.top{ margin:35px 18px 64px 20px; border:none; width:487px; font-size:12px;}
.a6 ul.kk li p.center a{ font-size:12px; margin-left:21px;}
.a6 ul.kk li p.bottom a{ font-size:12px; margin-left:425px; color:blue; position:relative;top:12px;}
.a6 ul.kk li img{ float: left; margin-top:46px;}
.a6 ul.kk li.gm{ float:left; margin:42px 0 0 49px; }
.a6 ul.kk li.gm p{ font-size:13px;}
.a6 ul.kk li.pl{ float:left; margin:42px 0 0 52px; }
.a6 ul.kk li.pl img{ margin-top:0px; margin-right:6px;}
.a6 ul.kk li.pl p{ margin-top:10px;}
.a6 ul.kk li.pl a{ color:#ccc;  margin-left:8px; }
.content9{ overflow:hidden; padding-left:210px; margin-bottom:25px; margin-bottom:15px; margin-top:15px}
.content9 li{ float: left; line-height:28px; text-align:center; margin-right:9px;}
.content9 li.a{ width:68px; height:28px; border:1px solid #DDDDDD; color:#000;}
.content9 li.b{width:38px; height:28px; border:1px solid #ccc;}
.content9 li.e{width:29px; height:28px; border:1px solid #ccc;}
.content9 li.f{width:46px; height:28px; border:1px solid #ccc; background-color:#F5F5F5;}
.content7_right .a7{ width:975px; height:107px; border:1px solid #ccc; margin-top:15px;}
.content7_right .a7 h1{border:none;height:30px; border-bottom:1px solid #ccc;}
.content7_right .a7 h1 a.aa{ display:inline-block;height:30px; line-height:30px;border-right:1px solid #ccc; font-size:12px; padding:0 15px;}
.content7_right .a7 h1 input{ border:none; margin-left:10px; border:1px solid #ccc;}
.content7_right .a7 h1 a.qq{ display:inline-block;width:46px; height:21px; border:1px solid #ccc; text-align:center; line-height:21px; margin-left:5px; margin-right:250px; font-size:14px;}
.content7_right .a7 h1 a.ww{ display:inline-block;width:66px; height:22px; border:1px solid #ccc; text-align:center; line-height:21px; background-color:#e43e41; color:#fff;  }
.content7_right .a7 p.ti{ margin-top:15px; margin-left:10px; margin-bottom:20px }
.content7_right .a7 h1.bot{ border:none;  border-top:1px solid #ccc; height:20px;}
.content7_right .a8{ width:975px; height:98px; border:1px solid #ccc; margin-top:22px;} 
.content7_right .a8  h1{ height:31px; border:none; border-bottom:1px solid #ccc;background-color:#f7f7f7;}
.content7_right .a8  h1 a{ display:inline-block;padding:10px 8px; color:#000; }
.content7_right .a8 p.xhx{ height:35px; border-bottom:1px solid #ccc;}
.content7_right .a8 p.xhx a{  display:inline-block; padding:12px 0 9px 13px;}
.content7_right .a8 p.xhx a.p{ margin-right:628px;}
.content7_right .a8 p.xhx a.l{ margin-right:25px;}
.content7_right .a8 p.xhx a.m{ margin-right:55px;}
.content7_right .a8 p.fb{ margin-left:11px;}
.content11 { border:1px solid #ccc; overflow:hidden; margin-top:12px;}
.content11 h1{ border:none ; height:38px; line-height:38px;border-bottom:1px solid #ccc; color:#666666; font-size:14px;}
.content11 div{ margin:15px 0 15px 20px;color:#FF0000; float:left}
.content11 div img{ margin-bottom:13px;}
.footer1{border-bottom:2px solid #ED0042; overflow:hidden; background-color:#EEEEEE; margin-top:21px;}
.footer1 .center{ width:1200px; margin:0 auto; overflow:hidden;}
.footer1 .center ul.wb{ overflow:hidden; padding:45px 6px;;}
 .center ul.wb li{ float:left;line-height:45px; height:45px; font-size:22px; font-weight:bold;}
 .center ul.wb li.e{ margin-right:85px;}
 .center ul.wb li span.a{ background:url(images/icon_1_17.png) no-repeat center; width:42px; height:42px; display:block; float:left; margin-right:7px;  }
.center ul.wb li span.b{ background:url(images/icon_1_20.png) no-repeat center; width:42px; height:42px; display:block; float:left; margin-right:7px;}
.center ul.wb li span.c{ background:url(images/icon_1_23.png) no-repeat center; width:42px; height:42px; display:block; float:left; margin-right:7px;}
.center ul.wb li span.d{ background:url(images/icon_1_25.png) no-repeat center; width:42px; height:42px; display:block; float:left; margin-right:7px;}
.footer2{ background-color:#F5F5F6; overflow:hidden;}
.footer2 .center{ width:1200px; margin:0 auto; padding-left:15px;}
.footer2 ul{ overflow:hidden; }
.footer2 ul li.aa{width:106px;float:left; overflow:hidden;padding-top:43px;}
.footer2 ul li.aa img{ float:left; margin-right:2px;}
.footer2 ul li.aa ul.gowu{ float:left; }
li.aa ul.gowu h1{ font-size:16px; font-weight:bold; margin-bottom:12px;color:#444444}
li.aa ul.gowu li{ font-size:12px; color:#5A5A5A; line-height:20px;}
.footer2 ul li.bb{width:78px;height:237px; float:left;}
.footer2 ul li.cc{width:263px;height:237px; float:left; padding-top:43px;}
.footer2 ul li.cc img{ float:left; margin-right:2px;}
.footer2 ul li.cc ul.gowu{ float:left;}
li.cc ul.gowu h1{ font-size:16px; font-weight:bold; margin-bottom:12px;color:#444444}
li.cc ul.gowu li{ font-size:12px; color:#5A5A5A}
.footer3{background:#F7F7F7}
.footer3 .center{ width:1200px; margin:0 auto; height:153px;}
.footer3 .center ul{ padding-left:318px; padding-top:31px;}
.footer3 .center li a{ font-size:12px; color:#666666; margin:0 8px;}
.footer3 .center li{ font-size:12px; color:#666666; margin-bottom:10px;}
.footer3 .center li.s{ margin-left:85px}
.footer3 .center li.z{ margin-left:70px}